// Normally mainpage styles 
//+font('Conv_SegoePrintRegular', 'SegoePrintRegular')
@import ../css/TimeCircles.css

.top
  background: transparent
  +background-size(cover)
  height: 100px
  .top_in
    @extend %in
    +clr
    position: relative
    padding-top: 50px

  nav
    float: left

    ul
      font-size: 16px
      padding: 0
      li
        display: inline-block
        float: left
        margin-right: 16px
        font-family: 'conv_pfdintextcondpro-light'
        border-right: solid 1px
        color: #ffffff
        line-height: 1em
        padding-right: 20px
        &:last-child
          border: none
        a
          text-decoration: none
          color: inherit
          border-bottom: solid 1px
          &:hover
            border-bottom: solid 3px
          &.is-active
            border-bottom: solid 3px

  .top__right
    float: right
    margin-top: -10px
  .top__after-phone
    vertical-align: middle
  .top__phone
    +clr
    font-size: 36px
    color: #ffffff
    margin: 0
    font-family: 'conv_pfdintextcondpro-light'
    line-height: .9em
    font-weight: normal
    display: inline-block
    vertical-align: middle
    span
      font-family: 'conv_pfdintextcondpro-medium'
      font-size: 36px
  .nomenclature
    margin: 0 16px
    color: white
    font-size: 16px
    font-family: 'conv_pfdintextcondpro-lightital'
    display: inline-block
  .callme
    display: inline-block
    font-family: 'conv_pfdintextcondpro-light'
    font-size: 18px
    text-transform: none
    text-decoration: underline
    color: #ffffff
    &:hover
      text-decoration: none


header
  background: url(../img/header_bg.jpg) center center no-repeat
  +background-size(cover)
  height: 900px
  position: relative
  +box
  text-align: center
  .logo
    display: inline-block
    margin-bottom: 15px
  h1
    font-size: 48px
    color: #ffffff
    font-family: 'conv_pfdintextcondpro-medium'
    line-height: 1em
    text-transform: none
    font-weight: normal
    text-align: center

  h2
    font-family: 'conv_pfdintextcondpro-thin'
    font-size: 48px
    font-weight: normal
    color: #ffffff
    text-transform: none
    text-align: center


  .header_in
    @extend %in
    +clr
    position: relative

    .watch
      position: relative
      background: url(../img/header_watch.png) no-repeat
      width: 308px
      height: 529px
      z-index: 1
      float: right
      margin-top: 20px
      +clr

    .header__left
      position: relative
      float: left
      z-index: 1
      +clr
      margin-top: 20px

    .price
      font-family: 'conv_pfdintextcondpro-light'
      font-size: 48px
      +box
      padding-top: 33px
      color: white
      position: absolute
      width: 135px
      height: 135px
      +border-radius(50%)
      +background-clip(padding-box)
      +background-image(linear-gradient(to bottom, #ff3737 0%, #b60000 100%))
      top: 323px
      left: 605px
      span
        font-size: 24px
        font-family: 'als_rublregular'


.scrollMenu
  //@extend header
  @extend .top
  .top_in
    padding-top: 20px
  position: fixed
  z-index: 999
  width: 100%
  top: 0
  left: 0
  bottom: auto
  display: none
  height: 60px
  +box
  background: rgba(40,40,40, 0.8)
  .top
    height: 0



.specs
  padding-top: 40px
  +clr
  h2
    margin-bottom: 80px

  .specs_in
    @extend %in
    +clr

  &__items-wrapper
    float: left
    +clr
  &__items
    float: left
    font-size: 16px
    margin-right: 0
    +box
    +clr
    &.short
      margin-right: 60px
      .specs__item
        &.title
          margin-bottom: 28px




  &__item
    color: #181818
    margin-top: 24px
    font-family: 'conv_pfdintextcondpro-light'
    font-size: 16px
    text-decoration: none
    &:first-child
      margin-top: 0


    .specs__button
      padding: 18px 70px
      margin-top: 15px



    > span
      color: #181818
      font-size: 18px
      text-transform: none
      text-decoration: underline
      &.price
        font-size: 24px
        text-decoration: none
        + span
          font-size: 14px



  &__watch
    margin-top: -60px
    position: relative
    float: right
    width: 297px
    margin-right: 45px
    text-align: center
    +clr
    img
      width: 297px
      height: 512px
      position: relative
      display: block
    .prev
      position: absolute
      content: ""
      +s(prev)
      top: 42%
      left: -45px
      cursor: pointer

    .next
      position: absolute
      content: ""
      +s(next)
      top: 42%
      right: -45px
      cursor: pointer

    .threesixty
      position: absolute
      text-align: center
      padding-top: 30px
      +box
      top: 18px
      left: -65px
      +s(360)
      font-size: 30px
      color: #000
      content: ""
      font-family: 'conv_pfdintextcondpro-bold'
  &__gallery
    padding-top: 20px
    clear: both
    padding-bottom: 30px
    +clr
    .specs__img
      display: inline-block
      width: 320px
      height: 180px
      position: relative
      vertical-align: top
      margin-right: 15px
      &:last-child
        margin-right: 0
      img
        display: block
        width: 100%
      span
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        +opacity(0)
        background: rgba(#000, .8)
        z-index: 1
        +transition(background, .5s)
        &:after
          content: ""
          position: absolute
          top: 50%
          left: 50%
          +transform(translate(-50%,-50%))
          +s(zoom)
        &:hover
          +opacity(1)

.history
  color: #ffffff
  background: url(../img/history_bg.jpg) center center no-repeat
  +background-size(cover)
  padding: 30px 0
  .history_in
    @extend %in
  h2
    color: white
  .history__img
    display: inline-block
    width: 446px
    height: 312px
    margin-right: 5px
    vertical-align: middle
    margin-left: -50px
    img
      display: block
  .history__text
    display: inline-block
    font-size: 18px
    width: 55%
    vertical-align: middle

.also
  margin-top: 0
  padding-bottom: 60px
  padding-top: 40px
  .also_in
    @extend %in
    width: 1010px
  h2
    margin-bottom: 20px
  &__item
    vertical-align: top
    width: 320px
    padding-bottom: 15px
    text-align: center
    padding-top: 25px
    display: inline-block
    margin-right: 18px
    border: solid 5px rgb(230, 230, 230)
    background: #ffffff
    +box
    &:last-child
      margin-right: 0
  &__caption
    font-size: 24px
    font-family: 'conv_pfdintextcondpro-light'
    margin-bottom: 10px
    color: #271818
    text-transform: none
  &__img
    display: inline-block
    width: 290px
    height: 195px
    img
      display: block
  &__bottom
    margin-top: 35px
  &__price
    +box
    line-height: 1.4em
    text-align: left
    display: inline-block
    vertical-align: middle
    margin-top: 0
    h3
      font-family: 'conv_pfdintextcondpro-thin'
      font-size: 48px
      font-weight: normal
      color: #1e1e1e
      vertical-align: middle
      span
        font-family: 'als_rublregular'
        font-size: 24px
    h4
      display: inline-block
      font-size: 18px
      color: #5a5a5a
  &__text
    padding: 20px 15px 0
    font-size: 16px
    color: #787878
    text-align: center
    margin-bottom: 5px
  &__more
    color: #fd4f00
    font-size: 18px
    &:hover
      text-decoration: none

  &__form
    display: inline-block
    vertical-align: middle
    margin-left: 0
    form
      margin: 0
      input
        height: 35px
        border: solid 2px #cccccc
        background: white
        +placeholder
          font-family: 'conv_pfdintextcondpro-regular'
          font-size: 18px
      button
        margin-top: 0
        padding: 16px 26px
        margin-left: 24px


.our
  background: url(../img/our_bg.jpg) center no-repeat
  +background-size(cover)
  height: 800px
  padding-top: 55px
  position: relative
  +clr
  +box
  h3
    font-weight: normal
    color: #ffffff
    font-size: 36px
    font-family: 'conv_pfdintextcondpro-medium'
    text-align: center
    line-height: 1.4em
    text-transform: uppercase
  h2
    color: #ffffff
    font-family: 'conv_pfdintextcondpro-light'
    font-size: 36px
    text-align: center
    font-weight: normal
    line-height: 1.2em
    text-transform: uppercase

  .our_in
    @extend %in
    position: relative
    +clr

  .russia
    position: relative
    background: url(../img/russia.png) center center no-repeat
    width: 860px
    height: 515px
    margin: -65px auto 0
  &__delivery
    width: 170px
    color: #ffffff
    font-family: 'conv_pfdintextcondpro-regular'
    font-size: 18px
    position: absolute
    top: 50%
    left: 50%
    +transform(translate(-50%, -50%))
    margin-top: 60px
    margin-left: 34px
    &:before
      position: absolute
      content: ""
      +s(pin_ico)
      top: -73px
      left: -132px
  &__bottom
    width: 600px
    margin: 55px auto 0
    position: relative
    margin-left: 345px
  &__price
    width: 180px
    display: inline-block
    position: relative
    margin-right: 170px
    margin-left: 50px
    color: #ffffff
    font-size: 18px
    font-family: 'conv_pfdintextcondpro-regular'
    &:before
      position: absolute
      top: -8px
      left: -75px
      content: ""
      +s(price_ico)
  &__support
    width: 190px
    display: inline-block
    position: relative
    font-size: 18px
    color: #ffffff
    font-family: 'conv_pfdintextcondpro-regular'
    &:before
      position: absolute
      top: -5px
      left: -75px
      content: ""
      +s(bubble_ico)
  &__girl
    position: absolute
    bottom: -97px
    left: -50px
    img
      display: block


.reviews
  +clr
  padding-bottom: 60px
  padding-top: 40px
  h2
    margin-bottom: 35px
    text-align: center
  .reviews_in
    @extend %in
    +clr
  .row
    margin-top: 55px
    &:first-child
      margin-top: 0
  .review__item
    +background-clip(padding-box)
    width: 280px
    position: relative
    display: inline-block
    margin-right: 75px
    vertical-align: top
    text-align: left
    +box
    +clr
    &:last-child
      margin-right: 0
    .review__img
      display: inline-block
      width: 80px
      height: 80px
      +border-radius(50%)
      margin-right: 15px
      vertical-align: middle
    .review__head
      text-align: center
      display: inline-block
      vertical-align: top

    .review__name
      color: #ffffff
      width: 180px
      height: 50px
      font-size: 24px
      position: relative
      background: #93bf13
      padding-top: 8px
      +box

      &:after
        position: absolute
        top: 48px
        left: 11px
        +s(review_popup1)
        content: ""
    .rewview__name--blue
      background: #66b5de
      &:after
        +s(review_popup2)

    .review__video-r
      margin-top: 10px
      color: #93bf13
      display: inline-block
      font-size: 18px
    .review__video
      +border-radius(6px)
      width: 280px
      height: 160px
      position: relative
      margin-top: 10px
      &:after
        position: absolute
        top: 50%
        left: 50%
        +transform(translate(-50%,-50%))
        +s(play2)
        content: ""
      &:hover
        +opacity(.8)
    .review__text
      font-size: 16px
      color: #1e1e1e
      text-align: left
      margin-top: 10px
    .review__audio
      text-decoration: underline
      +pfl
      font-size: 18px
      color: #66b5de
      margin-left: 10px
      margin-top: 15px
      display: inline-block
      &:hover
        text-decoration: none
      i
        display: inline-block
        vertical-align: middle
        left: -10px
        position: relative
        +s(listen)






.bottom
  @extend header
  padding-top: 35px
  .header_in--bottom
    margin-top: 0px !important

.questions
  text-align: center
  padding: 40px 0
  .button--questions
    display: inline-block
    text-align: center
    +pfl
    font-size: 24px
    text-decoration: underline
    +border-radius(4px)
    border: solid 2px #fadc28
    padding: 17px 61px
    color: #1e1e1e
    margin-top: 15px
    &:hover
      text-decoration: none


footer
  box-sizing: border-box
  background: url(../img/footer_bg.jpg) center center no-repeat
  +background-size(cover)
  height: 100px
  .footer_in
    @extend %in
  text-align: center
  padding-top: 16px
  p
    font-size: 16px
    color: #787878
    a
      color: #963269
      &:hover
        text-decoration: none

